@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@800&family=La+Belle+Aurore&family=MonteCarlo&family=Oooh+Baby&family=Parisienne&family=Poppins:wght@600;900&family=Style+Script&display=swap');


$font: 'Poppins', sans-serif;
$font-navbar: 'Poppins', bold;
$font-titulo: 'Abel', sans-serif;
$font-firma: 'La Belle Aurore', cursive;