@import "mixin";

footer{
    @include navbar-button;
    background-image: url('../imagenes/footer.jpg');
    text-align: center;
    background-size: cover;
    background-position: bottom;
    font-family: $font;
    font-size: 3rem;
    padding-top: 5rem;
    margin-top: 6rem;
    padding-bottom: 4rem;
}