footer{
    background-image: url('../imagenes/footer.jpg');
    text-align: center;
    background-size: cover;
    background-position: bottom;
    font-family: $font;
    font-size: 3rem;
    padding-top: 5rem;
    margin-top: 6rem;
    padding-bottom: 4rem;
    h6{
        flex:1;
        list-style: none;
        font-size: medium;
        text-align: center;
        a{
            display: block;
            color: $color-beige;
            text-align: justify;
            padding: 14px 16px;
            text-decoration: none;
        }
    }
}