
form{
    text-align: center;
    font-family: $font;
    font-size: 2rem;
    align-content: center;
    .input {
        @include form-width;
        background-color: $color-beige;
        margin: 2rem;
        height: 4rem;
        align-items: center;
    }
    label {
        @include form-width;
        align-items: center;
        width: 15rem;
    }
    li{
        list-style: none;
    }
    .form-group {
        display: block;
        margin: 1.5rem 0;
        width: 100%;
        .mensaje {
            width: 100%;
        }
    }
    textarea {
        @include form-width;
        align-content: center;
    }

    select {
        @include form-width;
    }
        
    .opciones .provincias .mensaje {
        margin: 1rem;
        display: block;
        padding: 2rem;
    }
                
    .btn {
    text-align: center;
    font-family: $font;
    color: $color-azul;
    font-size: 3rem;
    background-color:$color-blanco;
    margin: 2rem;
    width: 16rem;
    border:rgba($color-beige, .175);
    padding: 1rem;
    }

    .btn:hover{
        background-color: $color-bordo;
        transform: scale(1.3);
        color: $color-beige;
    }
    .comentario{
        margin: 2rem;
        color: $color-fondo;
    }
}
