html{
    font-size: 62.5%;

    body{
        font-family: $font;
        color: $color-blanco;
        background-color: $color-fondo;
        
        hr{
            color: $color-azul
        }
    }
        
}
.row{
    padding-top: 8%;
}