header{
    h6{
        flex:1;
        list-style: none;
        font-family: $font;
        font-size: medium;
        text-align: center;
        a{
            display: block;
            color: $color-beige;
            text-align: justify;
            padding: 14px 16px;
            text-decoration: none;
        }
    }
    h1{
        text-align: center;
        font-family: $font-titulo;
        color: $color-titulo;
        font-size: 14rem;
        text-shadow: 2px 3px $color-beige ;
        margin-bottom: 3rem;
    }
    @media (max-width: 600px) {
        h1 {
          font-size: 9rem; 
        }
    }
    img{
        width: 100%;
        object-fit: cover;
    }
    .banner {
        grid-column: 1 /-1;
        background-image: url('../imagenes/banner1op.png');
        background-size: cover;
        background-position: bottom;
        padding: 3rem;
      }
    .banner_title {
        text-align: center;
        color: $color-bordo;
        font-size: 8vw;
        padding: 6rem;
        text-shadow: 2px 3px $color-blanco ;
    }
}
