.top-navbar{
    background-color: $color-fondo;
}
.top-navbar:hover:not(.active) {
    @include bgancolor($color-beige, $color-bordo)
}
.bottom-navbar:hover:not(.active) {
    @include bgancolor($color-beige, $color-fondo)
}
.fa {
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
    color: $color-bordo;
    background-color: none;
}
.fa:hover {
    color: $color-fondo;
    transform: scale(1.3);
    background-color: none;
}
.bottom-navbar{
    background-color: $color-bordo;
}

