@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@800&family=La+Belle+Aurore&family=MonteCarlo&family=Oooh+Baby&family=Parisienne&family=Poppins:wght@600;900&family=Style+Script&display=swap');

//variables 
$color-bordo: #890705;
$color-titulo: #500301;
$color-blanco: #f4f0e5;
$color-fondo: #0b151b;
$color-azul: #172a38; 
$color-beige: #d4c9ad;
$font: 'Poppins', sans-serif;
$font-navbar: 'Poppins', bold;
$font-titulo: 'Abel', sans-serif;
$font-firma: 'La Belle Aurore', cursive;


html{
    font-size: 62.5%;

    body{
        font-family: $font;
        color: $color-blanco;
        background-color: $color-fondo;
        /*Titulos*/
        h1{
            text-align: center;
            font-family: $font-titulo;
            color: $color-titulo;
            font-size: 15rem;
            text-shadow: 2px 3px $color-beige ;
            margin-bottom: 3rem;
        }
        h2{
            text-align: center;
            font-family: $font;
            color:$color-beige ;
            font-size: 3rem;
            margin: 2rem;
        }
        h3{
            text-decoration: underline;
            font-family: $font;
            margin: 2rem;
            color: $color-beige;
        }
        h4{
            color: $color-bordo;
            font-family: $font;
            font-weight: bold;
            font-size: 3.5rem;
            padding-left: 4rem;
            text-shadow: 2px 3px $color-blanco;  
        }
        header{
                h6{
                    flex:1;
                    list-style: none;
                    font-family: $font;
                    font-size: medium;
                    text-align: center;
                    a{
                        display: block;
                        color: $color-beige;
                        text-align: justify;
                        padding: 14px 16px;
                        text-decoration: none;
                    }
                }
        }
        /*banner y barranav*/
        img{
            width: 100%;
            object-fit: cover;
        }
        .top-navbar{
            background-color: $color-fondo;
        }
        .top-navbar:hover:not(.active) {
            background-color: $color-bordo;
            color: $color-beige;
            font-weight: bold; 
        }
        .bottom-navbar:hover:not(.active) {
            background-color: $color-fondo;
            color: $color-beige;
            font-weight: bold; 
        }
        .fa {
            font-size: 4rem;
            text-align: center;
            text-decoration: none;
            color: $color-bordo;
            background-color: none;
        }
        .fa:hover {
            color: $color-fondo;
            transform: scale(1.3);
            background-color: none;
        }
        .banner {
            grid-column: 1 /-1;
            background-image: url('../imagenes/banner1op.png');
            background-size: cover;
            background-position: bottom;
            padding: 3rem;
          }
        .banner_title {
            text-align: center;
            color: $color-bordo;
            font-size: 8vw;
            padding: 6rem;
            text-shadow: 2px 3px $color-blanco ;
        }
        
        footer{
            background-image: url('../imagenes/footer.jpg');
            text-align: center;
            background-size: cover;
            background-position: bottom;
            font-family: $font;
            font-size: 3rem;
            padding-top: 5rem;
            margin-top: 6rem;
            padding-bottom: 4rem;
            h6{
                flex:1;
                list-style: none;
                font-size: medium;
                text-align: center;
                a{
                    display: block;
                    color: $color-beige;
                    text-align: justify;
                    padding: 14px 16px;
                    text-decoration: none;
                }
            }
        }
        .bottom-navbar{
            background-color: $color-bordo;
        }
        /*index*/
        .row{
            padding-top: 8%;
        }
        .text{
            text-align:start;
            font-family: $font;
            font-size: 2.5rem;
            padding-left: 5%;
            padding-right: 5%;  
        }
        .firma{
             font-family: $font-firma;
             font-size: 5rem;
             text-align: right;
        }
        .how-section1{
            margin-top:15%;
            padding: 10%;
        }
        
        .how-section1 .row{
            margin-top: 20%;
        }
        .how-img {
            text-align: center;
            width: 50%;  
            padding-right: 5%; 
            padding-left: 5%; 
        }
        hr{
            color: $color-azul
        }
        .texto-imagen{
            padding-left: 4rem;
            padding-right: 4rem;
        }

        /*hover imagenes*/
        .imagenes-publi{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
        }
        .container-image {
            position: relative;
        }
        
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $color-bordo;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }
        
        .container-image:hover .overlay {
            height: 100%;
        }
        
        .text-imagenes {
            color: $color-beige;
            font-size: 2.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: justify;
        }
        /*Formulario*/
        
        form{
            text-align: center;
            font-family: $font;
            font-size: 2rem;
            align-content: center;
            .input {
                background-color: $color-beige;
                margin: 1.5rem;
                width: 35rem;
                height: 4rem;
                align-items: center;
            }
            .radio{
                margin: 1rem;
            }
            
            .boton{
                text-align: center;
                font-family: $font;
                color: $color-azul;
                font-size: 3rem;
                background-color:$color-blanco;
                margin: 2rem;
                width: 16rem;
                border:rgba($color-beige, .175);
                padding: 1rem;
            }
            
            .boton:hover{
                background-color: $color-bordo;
                transform: scale(1.3);
                color: $color-beige;
            }
            
            .comentario{
                margin: 2rem;
                color: $color-fondo;
            }
        }
    }
}